
@{
    ViewBag.Title = "Giohang";
}
@using WedBanHang.Models
@model List<GioHang>
<h2>Giohang</h2>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Thành tiền</th>
            <th scope="col">Deleta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <th scope="row">@i.MaSP</th>
                <td>
                    <a class="btn btn-light" href="@Url.Action("UpdateSL",new {ma=i.MaSP,update=false})"><<</a>
                    @i.Soluong
                    <a class="btn btn-light" href="@Url.Action("UpdateSL",new {ma=i.MaSP,update=true})">>></a>
                </td>
                <td>@i.DonGia</td>
                <td>@i.ThanhTien</td>
                <td><a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("DeleteSP",new {ma=i.MaSP })">Delete</a></td>
            </tr>
        }
        <tr>
            <td colspan="2">Tổng tiền : @ViewBag.Tongtien</td>
            <td>
                
            </td>
            <td><a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("DatHang","DatHang")">Đặt hàng</a></td>
        </tr>
    </tbody>
</table>