
@{
    ViewBag.Title = "ThanhToan";
    List<GioHang> lstSP = Session["GioHang"] as List<GioHang>;
}
@using WedBanHang.Models
@model HOADON
    <div class="container">
        <h2>Hóa Đơn</h2>
        <div class="row">
            <form action="@Url.Action("XuLyEnd","Dathang")">
                <div class="form-row">
                    <label for="name">Tên Người Nhận:</label>
                    <input type="text" class="form-control" id="firstname" value="@Model.TENKHACHHANG" disabled>
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <input type="text" class="form-control" id="address" value="@Model.DIACHIGIAOHANG" disabled>
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number:</label>
                    <input type="number" class="form-control" id="phone" value="@Model.SDTGIAOHANG" disabled>
                </div>
                <div class="form-group">
                    <label for="tongtien">Tổng Tiền:</label>
                    <input type="number" class="form-control" id="chietkhau" value="@ViewBag.TongTien" disabled>
                </div>
                <div class="form-group">
                    <label for="chietkhau">Chiết Khấu:</label>
                    <input type="number" class="form-control" id="chietkhau" value="@Model.CHIETKHAU" disabled>
                </div>
                <div class="form-group">
                    <label for="Thanhtien">Thành Tiền:</label>
                    <input type="number" class="form-control" id="chietkhau" value="@Model.THANHTIEN" disabled>
                </div>
                <button type="submit" class="btn btn-primary">Về Trang Chủ</button>
            </form>
        </div>
        <div class="col-sm-6">
            <h2>ĐƠN HÀNG CỦA BẠN</h2>
            <table class="table-striped">
                <tr>
                    <td style="text-decoration:">SẢN PHẨM</td>
                    <td>TỔNG</td>
                </tr>
                @foreach (var i in lstSP)
                {
                    <tr>
                        <td>@i.TenSP x @i.Soluong</td>
                        <td>@i.ThanhTien</td>
                    </tr>
                }
            </table>
        </div>
    </div>

