@{
    ViewBag.Title = "SanPham";
}
@{
    <link href="~/Scripts/StyleSheet1.css" rel="stylesheet" />
}
@using WedBanHang.Models
@model SANPHAM
<div class="jumbotron text-center">
    <h1>Chi Tiết Sản Phẩm @Model.TENSP</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
<body>
</body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="~/Models/anhsp/@Model.ANHSP" width="250" height="300" />
        </div>
        <div class="col-sm-6">
            <h1>Tên Sản Phẩm: @Model.TENSP</h1>
            <h3>Mã Sản Phảm: @Model.MASP</h3>
            <h3>Số Lượng: @ViewBag.slSP</h3>
            <h1>@Model.GIA</h1>
            <h3 data-toggle="collapse" data-target="#demo">Mô tả:</h3>
            <div id="demo" class="collapse">
                @Model.MOTA
            </div>
            <form class="form-inline my-2 my-lg-2">
                <a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("ThemGioHang","DatHang",new {Ma= Model.MASP,select=0})">Thêm gio Hang</a>
                <a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("ThemGioHang","DatHang",new {Ma= Model.MASP,select=1})">Mua ngay</a>
            </form>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#featuredCarousel').carousel({
            interval: 10000
        })
        console.log($('.item'))
        $('.item').each(function () {

            var next = $(this).next();
            console.log(next);
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            if (next.next().length > 0) {
                next.next().children(':first-child').clone().appendTo($(this));
            } else {
                $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
            }
        });
    });
</script>