@{
    ViewBag.Title = "SanPham";
}
@{
    <link href="~/Scripts/StyleSheet1.css" rel="stylesheet" />
}
@using WedBanHang.Models
@model SANPHAM
<div class="jumbotron text-center">
    <h1>Chi Tiết Sản Phẩm @Model.TENSP</h1>
    <p>Resize this responsive page to see the effect!</p>
</div>
<body>
</body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="~/Models/anhsp/@Model.ANHSP" width="250" height="300" />
            <script>
                $(function () {

                    $('#featuredCarousel').carousel({
                        interval: 10000
                    })
                    console.log($('.item'))
                    $('.item').each(function () {

                        var next = $(this).next();
                        console.log(next);
                        if (!next.length) {
                            next = $(this).siblings(':first');
                        }
                        next.children(':first-child').clone().appendTo($(this));

                        if (next.next().length > 0) {
                            next.next().children(':first-child').clone().appendTo($(this));
                        } else {
                            $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
                        }
                    });
                });
            </script>
        </div>
        <div class="col-sm-6">
            <h1>@Model.TENSP</h1>
            <h3>@Model.MASP</h3>
            <h3>Xem them <a href="#">a</a>,<a href="#">a</a>,<a href="#">a</a></h3>
            <h1>@Model.GIA</h1>
            <h1>Tinh trang</h1>
            <form class="form-inline my-2 my-lg-2">
                <a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("ThemGioHang","DatHang",new {Ma= Model.MASP,select=0})">Thêm gio Hang</a>
                <a class="btn btn-outline-success my-2 my-sm-0" href="@Url.Action("ThemGioHang","DatHang",new {Ma= Model.MASP,select=1})">Mua ngay</a>
            </form>
        </div>
    </div>
</div>